<Files ".gitignore">
    Order Allow,Deny
    Deny from all
</Files>
<Files ".deploy-revision">
    Order Allow,Deny
    Deny from all
</Files>
<Files "coverart-updater.php">
    Order Allow,Deny
    Deny from all
</Files>
Redirect temp /koelkast/ https://forms.office.com/Pages/ResponsePage.aspx?id=EwCLUogMMkiTCIfYoyR7JdnmPH7xNPRAlaip3OxE7HlUOEdDVjZNM09RQkY5NlJZU1Y3SFUzUzBVMS4u&r3fe042b365c2419480a1e57b741e07ab=1
