<Files ".gitignore">
    Order Allow,Deny
    Deny from all
</Files>
<Files ".deploy-revision">
    Order Allow,Deny
    Deny from all
</Files>
<Files "coverart-updater.php">
    Order Allow,Deny
    Deny from all
</Files>