body {
    /* Declare variables */
    --bg-colour: #FFFFDD;
    --fg-colour: #000000;
    --secondary-colour: #CCCCCC;
    --highlight-colour: #BF0077;
    --sidebar-width: 12.5rem;
    --content-width: 43.75rem;
    --preferred-page-width: calc(var(--content-width) + var(--sidebar-width) + 4rem + 0.0625rem);

    background-color: var(--bg-colour);
    color: var(--fg-colour);
    font-family: 'Times New Roman', Times, serif;
    margin: 0 auto;
}

@media (min-width: 60.3125rem) {
    body {
        display: flex;
        width: calc(var(--content-width) + var(--sidebar-width) + 4rem + 0.0625rem);

    }
}

aside {
    height: 100vh;
    width: var(--sidebar-width);
    border-right-color: var(--fg-colour);
    border-right-style: solid;
    border-right-width: 0.0625rem;
    padding: 0 1rem;
    position: sticky;
    top: 0;
}

aside h1 {
    text-align: center;
    font-size: 18pt;
}

aside .footer {
    position: fixed;
    bottom: 0;
    width: var(--sidebar-width);
}

nav {
    display: flex;
    flex-direction: column;
}

main {
    width: var(--content-width);
    margin-left: 2rem;
}

main h1 {
    margin-bottom: 0;
}

a {
    color: var(--highlight-colour);
}

table {
    border-collapse: collapse;
}

tr {
    border-bottom: 0.0625 solid var(--secondary-colour);
}

tr:last-child {
    border-bottom: none;
}

th {
    padding-right: 1rem;
}

.subtitle {
    margin-top: 0;
}

.twocolumn {
    display: flex;
    width: var(--content-width);
    justify-content: space-around;
}

.twocolumn div {
    width: calc((var(--content-width) - 6.25rem) / 2);
}

.twocolumn div h2, .twocolumn div h3 {
    text-align: center;
}

.coverbox {
    display: grid;
    grid-template-columns: 6.25rem 6.25rem 6.25rem;
}

.coverbox img {
    height: 6.25rem;
    width: 6.25rem;
    margin: 0;
    border: 0;
    padding: 0;
}

.post {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    color: var(--fg-colour);
    text-decoration: none;
    border-bottom: 0.0625rem solid var(--fg-colour);
    padding: 0.5rem;
}

.post:last-child {
    border-bottom: none;
}

.post .title {
    text-align: left;
    grid-column: 1;
    margin: 0;
    font-weight: bold;
    color: var(--highlight-colour);
}

.post time {
    text-align: right;
    grid-column: 2;
}

.post .description {
    grid-column: 1 / span 2;
    margin: 0;
}

.work-entry h3 {
    margin-bottom: 0.5em;
    border-bottom-style: dotted;
    border-bottom-width: 0.125rem;
}

.work-entry h3 a {
    color: var(--fg-colour);
    text-decoration: none;
    font-weight: normal;
    font-size: 0.875em;
}

.work-entry .timespan {
    font-weight: normal;
    font-size: 0.65em;
}

.work-entry p {
    margin-top: 0;
}

/* I would like to replace the following with something that automatically iterates through this, but I don't know how yet. */
.ul-purple {
    border-bottom-style: solid;
    border-bottom-color: #BF0077;
}

.ul-blue {
    border-bottom-style: solid;
    border-bottom-color: #008DD5;
}

.ul-green {
    border-bottom-style: solid;
    border-bottom-color: #0B6E4F;
}

.ul-yellow {
    border-bottom-style: solid;
    border-bottom-color: #FFF000;
}

.ul-orange {
    border-bottom-style: solid;
    border-bottom-color: #FFA500;
}

.ul-red {
    border-bottom-style: solid;
    border-bottom-color: #A31621;
}
