body {
    /* Declare variables */
    --bg-colour: #FFFFDD;
    --fg-colour: #000000;
    --highlight-colour: #BF0077;
    --sidebar-width: 200px;
    --content-width: 700px;

    background-color: var(--bg-colour);
    color: var(--fg-colour);
    font-family: 'Times New Roman', Times, serif;
    margin: 0 auto;
    display: flex;
    width: calc(var(--content-width) + var(--sidebar-width) + 3rem);
}

aside {
    height: 100vh;
    max-width: var(--sidebar-width);
    border-right-color: var(--fg-colour);
    border-right-style: solid;
    border-right-width: 1px;
    padding: 0 1rem;
}

aside h1 {
    text-align: center;
    font-size: 18pt;
}

nav {
    display: flex;
    flex-direction: column;
}

main {
    max-width: var(--content-width);
    margin-left: 2rem;
}

main h1 {
    margin-bottom: 0;
}

a {
    color: var(--highlight-colour);
}

.subtitle {
    margin-top: 0;
}

.twocolumn {
    display: flex;
    width: var(--content-width);
    justify-content: space-around;
}

.twocolumn div {
    width: calc((var(--content-width) - 100px) / 2);
}

.twocolumn div h2, .twocolumn div h3 {
    text-align: center;
}

.coverbox {
    display: grid;
    grid-template-columns: 100px 100px 100px;
}

.coverbox img {
    height: 100px;
    width: 100px;
    margin: 0;
    border: 0;
    padding: 0;
}

.post {
    display: grid;
    grid-template-columns: 1fr auto;
    justify-content: space-between;
    color: var(--fg-colour);
    text-decoration: none;
    border-bottom: 1px solid var(--fg-colour);
    padding: 8px;
}

.post:last-child {
    border-bottom: none;
}

.post .title {
    text-align: left;
    grid-column: 1;
    margin: 0;
    font-weight: bold;
    color: var(--highlight-colour);
}

.post time {
    text-align: right;
    grid-column: 2;
}

.post .description {
    grid-column: 1 / span 2;
    margin: 0;
}
